<!DOCTYPE html>
<html>
<head>
  <title>Saver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= for_non_authenticated_user do %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
  <% end %>

  <%= for_authenticated_user do %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
